[user]
	name = Julian One
	email = 38872371+julian-one@users.noreply.github.com
	signingkey = 2AD7598F6AB2D5AB

[core]
	editor = nvim
	autocrlf = input
	compression = 9
	preloadindex = true
	whitespace = error
	excludesfile = ~/.gitignore
	pager = delta

[init]
	defaultBranch = main

[pull]
	rebase = false

[push]
	default = simple
	autoSetupRemote = true
	followTags = true

[commit]
	gpgsign = true
	verbose = true

[alias]
	st = status
	co = checkout
	br = branch
	ci = commit
	unstage = reset HEAD --
	last = log -1 HEAD
	visual = !gitk
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[column]
	ui = auto

[advice]
	addEmptyPathspec = false
	pushNonFastForward = false
	statusHints = false

[blame]
	date = relative

[diff]
	context = 3
	renames = copies
	interHunkContext = 10
	algorithm = histogram
	mnemonicPrefix = true

[log]
	abbrevCommit = true

[status]
	branch = true
	short = true
	showStash = true
	showUntrackedFiles = all

[branch]
	sort = -committerdate

[tag]
	sort = version:refname

[transfer]
	fsckObjects = true

[receive]
	fsckObjects = true

[fetch]
	fsckObjects = true
	prune = true
	pruneTags = true
	all = true

[rebase]
	autoStash = true
	missingCommitsCheck = warn
	autoSquash = true
	updateRefs = true

[rerere]
	enabled = true
	autoupdate = true

[help]
	autocorrect = prompt

[submodule]
	fetchJobs = 16


[includeIf "gitdir:~/Desktop/whg/**"]
	path = ~/.config/git/work.gitconfig

[delta]
	navigate = true
	line-numbers = true
	side-by-side = true
	syntax-theme = base16
	hunk-header-style = omit

[interactive]
	diffFilter = delta --color-only
