* {
  font-family: "ComicCodeLigatures Nerd Font";
  font-size: 16px;
  font-weight: 600;
  min-height: 0;
  color: #e0def4;
}

window#waybar {
  background: transparent;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 6px 12px;
  padding: 2px 8px;
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(110, 106, 134, 0.3);
}

#workspaces {
  padding: 0;
  margin: 0;
  background: transparent;
}

#workspaces button {
  background: transparent;
  padding: 0;
  margin: 0;
  min-width: 0;
  border: none;
}

#workspaces button.persistent,
#workspaces button.active {
  padding: 0 8px;
  margin: 2px;
  min-width: 30px;
}

#workspaces button.active {
  background-color: rgba(38, 35, 58, 0.8);
  border-radius: 10px;
}

#workspaces button:hover {
  background-color: rgba(31, 29, 46, 0.5);
  border-radius: 10px;
}

#cpu,
#custom-uptime,
#clock {
  padding: 0 10px;
}

#network,
#pulseaudio,
#backlight,
#custom-kbd_backlight,
#battery,
#custom-lock {
  padding: 0 8px;
}

tooltip {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.95);
  border: 1px solid rgba(110, 106, 134, 0.3);
}
